apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:         
  tssc/gitops: pw64zx4ke-nodejs 
  janus-idp.io/tekton: pw64zx4ke-nodejs
  backstage.io/kubernetes-id: pw64zx4ke-nodejs
  backstage.io/kubernetes-namespace: tssc-app 
  app.kubernetes.io/part-of: pw64zx4ke-nodejs
resources:
  - ci-tekton.yaml
  - application-dev.yaml
  - application-stage.yaml
  - application-prod.yaml