apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:         
  argocd/app-name: pw64zx4ke-nodejs
  janus-idp.io/tekton: pw64zx4ke-nodejs
  backstage.io/kubernetes-id: pw64zx4ke-nodejs
  backstage.io/kubernetes-namespace: tssc-app 
  app.kubernetes.io/part-of: pw64zx4ke-nodejs
resources:
  - deployment.yaml
  - route.yaml
  - service.yaml
